<div>
    <p>This is tab5</p>

    <div quark-tab-set tab-location-type="search:subtab">
        <div quark-tab tab-href="tab1" template-url="views/url-tab/tab1.html">
            TAB1
        </div>
        <div quark-tab tab-href="tab2" template-url="views/url-tab/tab2.html">
            TAB2
        </div>
        <div quark-tab tab-href="tab3" template-url="views/url-tab/tab3.html">
            TAB3
        </div>
        <div quark-tab tab-href="tab4" template-url="views/url-tab/tab4.html">
            TAB4
        </div>
    </div>
</div>